* {
  margin: auto;
  font-family: "Orbitron", sans-serif;
}

:root {
  --main-background: #1e213f;
  --secondary-backgroud: #07083f;
  --lighter-background: #4791db45;
  --main-blue: #115293;
  --dark-blue: #191970;
  --shadow: #0606356b;
  --accent: #a52c55;
  --text: #d8e9f7;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--main-background),
    var(--secondary-backgroud)
  );
  background-attachment: fixed;
}

.App {
  margin-top: 3%;
  width: 70%;
}

#labels-container {
  display: flex;
  margin-bottom: 2%;
  font-size: 10px;
}

#break-label,
#session-label {
  background-color: var(--lighter-background);
  padding: 10px 20px 0 20px;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  color: var(--text);
}

#break-controls,
#session-control {
  display: flex;
  margin-top: 10px;
}

#break-length,
#session-length {
  font-size: 25px;
}

#break,
#session {
  display: flex;
  width: 100px;
}

#break-decrement,
#break-increment,
#session-decrement,
#session-increment {
  background-color: transparent;

  color: var(--accent);
  font-size: 40px;
  font-weight: bolder;
}

#timer {
  stroke-linecap: round;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 200px;
  color: var(--text);
  border-radius: 90%;
  border: 10px solid var(--dark-blue);
  box-shadow: 2px 3px 0px 2px var(--shadow);
  background: linear-gradient(var(--main-blue), var(--dark-blue));
}

#start-stop,
#reset,
#mute {
  background-color: transparent;
  color: var(--accent);
}

#mute {
  text-align: center;
}
.icon {
  font-size: 40px;
}

#timer-contents {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 40px;
}

#time-left {
  font-size: 40px;
}

#timer-control {
  color: var(--text);
  text-align: center;
  margin-top: 3%;
}

#timer-btns {
  display: flex;
  width: 24%;
  margin: auto;
  margin-top: 3%;
}

button {
  cursor: pointer;
  border: none;
  font-size: 24px;
}
