* {
  margin: auto;
  font-family: "Orbitron", sans-serif;
}

:root {
  --main-background: #1e213f;
  --secondary-backgroud: #07083f;
  --lighter-background: #4791db45;
  --main-blue: #115293;
  --dark-blue: #191970;
  --shadow: #0606356b;
  --accent: #a52c55;
  --text: #d8e9f7;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--main-background),
    var(--secondary-backgroud)
  );
  background-attachment: fixed;
}

.App {
  margin-top: 1%;
}

h1 {
  font-size: 1.5rem;
}

#labels-container {
  font-size: 1rem;
  text-align: center;
}

#break-label,
#session-label {
  background-color: var(--lighter-background);
  padding: 10px 20px 0 20px;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  color: var(--text);
  width: 70%;
}

#break-control,
#session-control {
  display: flex;
  margin-top: 10px;
  width: 70%;
}

#break-length,
#session-length {
  font-size: 25px;
}

#break,
#session {
  display: flex;
  width: 100px;
}

#break-decrement,
#break-increment,
#session-decrement,
#session-increment {
  background-color: transparent;
  color: var(--accent);
  font-size: 40px;
  font-weight: bolder;
}

#timer-container {
  width: 330px;
  height: 330px;
  padding: 19px;
}

#timer {
  stroke-linecap: round;
  margin-top: 1%;
  color: var(--text);
  border-radius: 50%;
  border: 10px solid var(--dark-blue);
  box-shadow: 2px 3px 0px 2px var(--shadow);
  background: linear-gradient(var(--main-blue), var(--dark-blue));
}

#timer-contents {
  text-align: center;
}

#timer-title {
  margin-top: -20%;
}

#time-left {
  font-size: 40px;
}

#message {
  font-size: 20px;
}

#start-stop,
#reset,
#mute {
  background-color: transparent;
  color: var(--accent);
}

#mute {
  text-align: center;
}
.icon {
  font-size: 40px;
}

#timer-control {
  color: var(--text);
  text-align: center;
}

#timer-btns {
  width: 24%;
  margin-top: 1%;
}

button {
  cursor: pointer;
  border: none;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  #break-label,
  #session-label {
    width: fit-content;
    margin-top: 3%;
  }
  #break-control,
  #session-control {
    width: 100%;
  }
  #timer-container {
    width: 250px;
    height: 250px;
    padding: 19px;
  }
  #timer-title {
    margin-top: auto;
  }

  #time-left {
    font-size: 30px;
    margin-top: auto;
  }
  #timer-btns {
    width: 50%;
  }
}
